<!DOCTYPE html>
<html lang="pt-bre">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicamentos</title>
    <link rel="stylesheet" href="/css/medicacao.css">

</head>
<body>
    <section class="container">
        <div>
            <h2>Medicações</h2>
            <form action="/api/paciente/criar_medicamento" method="POST" class="form">
                <label for="medicamentos">Medicamentos Prescritos:</label>
                <textarea id="medicamentos" name="medicamentos" rows="4" cols="50"></textarea><br><br>
                
                <label for="instrucoes">Instruções Especiais:</label>
                <textarea id="instrucoes" name="instrucoes" rows="4" cols="50"></textarea><br><br>
                <input type="submit" value="Salvar Alteraçoes">

                
            </form>
  

        </div>
        <div class="click">

            
            <form action="/api/paciente/pagina_visualizacao" method="get"> <button>Ver Dados enviados</button> </form>

        </div>
    </section>

    <script src="medicacao.js"></script>
    
</body>
</html>